* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .game-container {
    display: flex;
    flex-wrap: wrap;
    width: 402px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    .tile {
      width: 100px;
      height: 100px;
      border: 1px solid #ccc;
    }
  }

  .hidden {
    opacity: 0;
  }